html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body {
    align-items: center;
    background: linear-gradient(320deg, #7207fd,#fd0728,#fdf907);
}

.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
}

.screen {
    background-color: white;
}